<ion-header class="ion-no-border" [translucent]="true">
    <ion-toolbar color="dark">
        <ion-title>
            News
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="dark">
    <ion-grid fixed>
        <ion-row>
            <ion-col size="12" size-lg="3" size-md="4" size-sm="6" *ngFor="let new of news; let i=index">
                <ion-card>
                    <ion-card-header>
                        <ion-card-subtitle>
                            <span class="text-primary">{{new.source.name}}</span>
                        </ion-card-subtitle>
                        <ion-card-title>{{new.title}}</ion-card-title>
                    </ion-card-header>
                    <ion-img *ngIf="new.urlToImage" [src]="new.urlToImage"></ion-img>
                    <ion-card-content>
                        {{new.description}}
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>